/* ===== Buttons CSS ===== */
.primary-btn {
    background: var(--primary);
    color: var(--white);
    box-shadow: var(--shadow-2);
    padding: 8px 16px;
    border-radius: 5px;
  }
  .primary-btn-outline {
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 14px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }
  .primary-btn-outline:hover {
    background: var(--primary);
    color: var(--white);
  }
  
  /* ===== Navbar CSS ===== */
  .navbar-one {
    background-color: var(--primary);
    padding: 2px 0;
  }
  .navbar-one .navbar-brand {
    display: flex; /* Menggunakan flexbox */
    align-items: center; /* Memusatkan vertikal */
}

.navbar-one .navbar-brand img {
    height: 70px; /* Atur tinggi logo */
    margin-right: -5px; /* Jarak antara logo dan teks */
}

  .navbar-one .navbar-nav .nav-item a {
    color: var(--white);
    font-weight: 500;
    padding: 8px 15px;
  }
  .navbar-one .navbar-nav .nav-item a:hover {
    color: var(--primary-dark);
    background-color: var(--white);
    border-radius: 5px;
  }
  .navbar-one .navbar-toggler {
    border-color: var(--white);
  }
  .navbar-one .navbar-btn {
    display: flex;
    gap: 10px;
  }

  .navbar-one .navbar-btn:hover {
    display: flex;
    gap: 10px;
    color: var(--primary);
    background-color: var(--white);
    border-radius: 5px;
  }
  
  
  .logo-text {
    font-size: 18px; /* Ukuran teks */
    font-weight: bold; /* Menebalkan teks */
    color: var(--white); /* Warna teks */
    margin: 0; /* Menghilangkan margin jika ada */
}
  