/* ===== Styling untuk Navbar Admin ===== */
.navbar-admin {
  background-color: #007bff !important; /* Warna gelap */
  position: fixed; /* Navbar tetap di atas */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Agar di atas elemen lain */
}

.navbar-admin .navbar-brand {
  color: white !important;
  font-size: 24px;
  font-weight: 500;
}

.navbar-admin .navbar-toggler-icon {
  background-color: white;
}

.navbar-admin .navbar-nav .nav-link {
  color: white !important;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
}

.navbar-admin .navbar-nav .nav-link:hover {
  color: #f8f9fa !important; /* Warna hover putih terang */
  background-color: #495057; /* Background hover abu-abu gelap */
  border-radius: 5px;
}

.navbar-admin .navbar-nav .nav-link.active {
  background-color: #495057;
  color: #ffffff !important;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbar-admin .navbar-nav {
    text-align: center;
  }

  .navbar-admin .navbar-brand {
    font-size: 20px;
  }

  .navbar-admin .navbar-nav .nav-link {
    padding: 10px;
    font-size: 18px;
  }
}