.table {
  font-size: 14px;
}

.table th {
  background-color: #f8f9fa;
  color: #212529;
}

.table td {
  vertical-align: middle;
}

/* Styling Sidebar */
.sidebar {
  padding: 20px;
  background-color: #f8f9fa;
}

.sidebar .nav-link {
  color: #212529;
}

/* .sidebar .nav-link.active {
  font-weight: bold;
  color: #007bff;
} */

/* Alert Styling */
.alert {
  margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  .sidebar {
    padding: 15px;
  }
}
